
body{
    background-image: url(../images/kname.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    box-shadow:0 4px 6px 0 #B9770E , 0 4px 10px 0 #B9770E ; 
    margin:30px;
    color:#2f4f4f;
    font-size:100%;
     text-align:center; 
    margin-left: -2px;
    background-color: #D6EAF8;
  } 
  
  #date{
      width:300px;
      height:300px;
  }
  .paragraph{
      color: #2f4f4f;
      box-shadow: 0 2px 4px 0 #B9770E, 0 2px 5px 0 #B9770E;
  }

